<div class="row">
  <div class="large-5 columns">
    <h1><%= @user.name %></h1>
  </div>
  <div class="large-7 columns">
    <div class="panel">
      <div class="subheader">
        Games Played: <%= @user.user_scores.count %><br />
        Holes Played: <%= @user.scores.count %><br />
        Albatrosses: <%= @user.albatrosses %><br />
        Eagles: <%= @user.eagles %><br />
        Birdies: <%= @user.birdies %><br />
        Pars: <%= @user.evens %><br />
        Bogeys: <%= @user.bogeys %><br />
        Double Bogeys: <%= @user.double_bogeys %><br />
        3+ Bogeys: <%= @user.more_bogeys %><br />
      </div>
    </div>
  </div>
  
  <div class="large-12 columns">
    <h3>Recent Games</h3>
    <ul>
      <% @user.user_scores.order("created_at DESC").each do |u| %>
        <li><%= link_to u.scorecard.course.name, course_path(u.scorecard.course) %> - <%= link_to u.scorecard.played_on, scorecard_path(u.scorecard) %> (<%= u.total %>)</li>
      <% end %>
    </ul>
  </div>
</div>