<div class="row">
  <div class="large-10 columns">
    <h1>Golf Course</h1>
  </div>
  <div class="large-2 columns">
    <%= link_to "New Golf Course", new_admin_course_path, class: "radius button" %>
  </div>
  <div class="large-12 columns">
    <table>
      <thead>
      <tr>
        <td>Golf Course</td>
        <td>Course Type</td>
        <td>Par</td>
        <td>Total Yards</td>
        <td>City</td>
        <td>Actions</td>
      </tr>
      </thead>
      <tbody>
        <% @courses.each do |c| %>
          <tr>
            <td><%= link_to c.name, course_path(c) %></td>
            <td><%= c.course_type.name %></td>
            <td><%= c.par %></td>
            <td><%= c.total_yards %></td>
            <td><%= c.city %>, <%= c.province %></td>
            <td><%= link_to "Edit", edit_admin_course_path(c), class: "label" %> <%= link_to "Delete", nil, class: "label alert" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>